$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$tertiary-color-modify: #26846dc7;
$quaternary-color: linear-gradient(#ff79da, #9356dc);
$box-shadow: 5px 5px 10px rgb(219, 219, 219);
